.Footer {
    display: grid;
    grid-gap: .2em;
    grid-template-columns: 1fr auto auto;
    jusify-items: end;
}

.Footer > :first-child {
    grid-column: 2/3;
}

.Footer > :last-child {
    grid-column: 3/4;
}