.Found {
    width: 320px;
    height: 320px;
    display: grid;
    grid-gap: .8em;
    grid-template-columns: 1fr auto;
    grid-template-rows: 21px 1fr;
    margin-right: .8em;
}

.Found > :first-child {
    align-self: end;
}

.Found > :last-child {
    overflow: auto;
    grid-column: 1/3;
}

.Found > :last-child > ol {
    list-style-position: inside;
    margin-left: 0;
    margin-right: 0;
    padding: .4em;
    background-color: whitesmoke;
}

.Found > :last-child > :first-child{
    margin-top: 0;
}

.Found > :last-child > :last-child {
    margin-bottom: 0;
}