.SeekBar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    padding: .2em;
    background-color: whitesmoke;
}

.SeekBar > :first-child {
    grid-column: 1 / 4;
}

.SeekBar > :last-child {
    grid-column: 3 / 4;
}